{{>top}}        
      <div class="p-3 flex-grow-1">
        <h1>Editing <tt>{{filename}}</tt></h1>
        {{#editError}}
        <div class="alert alert-danger">{{editError}}</div>
        {{/editError}}
        {{#editSuccess}}
        <div class="alert alert-success">{{editSuccess}}</div>
        {{/editSuccess}}
        <form id="data-pjax" method="POST" action="{{action}}">
          <div class="form-group">
            <label>Content:</label>
            <textarea rows="10" class="form-control" name="content">{{content}}</textarea>
            <input type="hidden" name="filename" value="{{filename}}">
          </div>
          <button class="btn btn-primary" type="submit">Save</button>
        </form>
      </div>
{{>bottom}}
